@using System.Security.Claims
@model IEnumerable<Models.Contact>

@{
    ViewData["Title"] = "List Contacts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int no = 0;
    int page = ViewBag.PageNumber;
    int pageGreater = (page - 1) * 6;
}

<div class="col-md-12">
    <div class="card">
@*        <div class="card-header">
            <span class="d-block m-t-5">
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </span>
        </div>*@
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="bg-dark">
                                <td>@(page > 1 ? ++pageGreater : ++no)</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Subject</td>
                                <td>@item.Message</td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new {  id = item.Id }) |*@
                                    @*@Html.ActionLink("Details", "Details", new {  id = item.Id }) |*@
                                    <a style="background-color: #287ecb;" class="btn btn-dark" asp-action="SendMail" asp-route-id="@item.Id">Reply</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex w-100 justify-content-center">
                    <pagination page-count="@ViewBag.TotalPages" page-target="/admin/service" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>