@using WebClient.Manager
@using Microsoft.AspNetCore.Http
@inject LayoutManager categoryBranchList
@inject IHttpContextAccessor httpContextAccessor
@{
    var brandIdSession = httpContextAccessor.HttpContext.Session.GetString("branchId");
}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                @if(brandIdSession != null ){
                    @foreach (var item in await categoryBranchList.CategoryBranchList(int.Parse(brandIdSession != null ? brandIdSession : "1")))
                    {
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@item.Branch.Address</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>@item.Branch.Phone</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>@item.Branch.Email</p>
                        break;
                    }
                }
                else
                {
                    @foreach (var item in await categoryBranchList.CategoryBranchList(null))
                    {
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@item.Branch.Address</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>@item.Branch.Phone</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>@item.Branch.Email</p>
                        break;
                    }
                }
                
                
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Services</h5>          
                @if(brandIdSession != null ){
                    @foreach (var item in await categoryBranchList.CategoryBranchList(int.Parse(brandIdSession != null ? brandIdSession : "1")))
                    {
                        <a class="btn btn-link" asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-localeId="@brandIdSession" asp-route-categorySlug="@item.Category.Slug"> @item.Category.Name</a>
                    }
                }
                else
                {
                    @foreach (var item in await categoryBranchList.CategoryBranchList(null))
                    {
                        <a class="btn btn-link" asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="@item.Category.Slug"> @item.Category.Name</a>
                    }
                }
                
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" asp-area="Client" asp-action="About" asp-controller="Home">About Us</a>
                <a class="btn btn-link" asp-area="Client" asp-action="Index" asp-controller="Contact" asp-route-localeId="@brandIdSession">Contact Us</a>
                <a class="btn btn-link" asp-area="Client" asp-action="Index" asp-controller="Category" asp-route-localeId="@(brandIdSession != null ? brandIdSession : null)">Our Services</a>
                <a class="btn btn-link" href="#">Terms & Condition</a>
                <a class="btn btn-link" href="#">Support</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <!-- <div class="position-relative w-100">
                    <input class="form-control bg-transparent border-secondary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
