<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebClient</title>


	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



	<!-- Libraries Stylesheet -->    
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />    
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)




	<style>
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			width: 70%;
			margin: auto;
		}
	</style>
	
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @{
        var branchIdSession = HttpContextAccessor.HttpContext.Session.GetString("branchId");
        var branchNameSession = HttpContextAccessor.HttpContext.Session.GetString("branchName");
        var branchEmailSession = HttpContextAccessor.HttpContext.Session.GetString("branchEmail");
        var branchPhoneSession = HttpContextAccessor.HttpContext.Session.GetString("branchPhone");
        var branchTimeOpenSession = HttpContextAccessor.HttpContext.Session.GetString("branchTimeOpen");
    }

    <div class="popup_onload_modal">
		@await Component.InvokeAsync("BranchList")
	</div>

	<header>
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Topbar Start -->
        <div class="container-fluid bg-dark px-5">
            <div class="row gx-4 d-none d-lg-flex">
                <div class="col-lg-6 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <div class="btn-sm-square rounded-circle bg-primary me-2">
                            <small class="fa fa-map-marker-alt text-white"></small>
                        </div>

                        @if (branchIdSession != null)
                        {
                            <li class="list-inline-item" style="color:white"><span class="flaticon-phone-call mr5"></span> Current branch site: <strong>@branchNameSession</strong></li>
                            <li style="color:red;" class="list-inline-item"><a href="#" class="changeBranch" data-toggle="modal" data-target="#selectBranch_popup" id="showModal"><strong>*Change branch</strong></a></li>
                        }
                        else
                        {
                            <li style="color:red;" class="list-inline-item"><a href="#" class="changeBranch" data-toggle="modal" data-target="#selectBranch_popup" id="showModal"><strong>*Choose branch</strong></a></li>
                        }

                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-3">
                        <div class="btn-sm-square rounded-circle bg-primary me-2">
                            <small class="fa fa-envelope-open text-white"></small>
                        </div>
                        <small>@branchEmailSession</small>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <div class="btn-sm-square rounded-circle bg-primary me-2">
                            <small class="fa fa-phone-alt text-white"></small>
                        </div>
                        <small>@branchPhoneSession</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-3">
                        <div class="btn-sm-square rounded-circle bg-primary me-2">
                            <small class="far fa-clock text-white"></small>
                        </div>
                        <small>@branchTimeOpenSession</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
            <a href="index.html" class="navbar-brand d-flex align-items-center">
                <!-- <h2 class="m-0 text-primary">Securex</h2> -->
                <img id="logo-img" src="~/img/logo.png" alt="Logo Star Security">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-4 py-lg-0">
                    <a asp-area="client" asp-action="index" asp-controller="home" class="nav-item nav-link active">Home</a>
                    <a asp-area="client" asp-action="about" asp-controller="home" class="nav-item nav-link">About</a>
                    @*<a asp-area="client" asp-action="index" asp-controller="category" class="nav-item nav-link">Services</a>*@
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="security-service" class="dropdown-item">Security Services</a>
                            <a asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="cash-service" class="dropdown-item">Cash Services</a>
                            <a asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="train-service" class="dropdown-item">Train Services</a>
                            <a asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="electronic-service" class="dropdown-item">Electronic Services</a>
                        </div>
                    </div>


                    <a asp-area="Client" asp-action="Detail" asp-controller="Category" asp-route-categorySlug="vacancy-service" class="nav-item nav-link">Vacancies</a>
                    <a href="@Url.ActionLink("Project", "Home")" class="nav-item nav-link">Project</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                            <a href="@Url.ActionLink("Feature", "Home")" class="dropdown-item">Feature</a>
                            <a href="@Url.ActionLink("FreeQuote", "Home")" class="dropdown-item">Free Quote</a>
                            <a href="@Url.ActionLink("OurTeam", "Home")" class="dropdown-item">Our Team</a>
                            <a href="@Url.ActionLink("Index", "Testimonial")" class="dropdown-item">Testimonial</a>
                            <a href="@Url.ActionLink("Index", "Error")" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="@Url.ActionLink("Index", "Contact")" class="nav-item nav-link">Contact</a>
                </div>
                <div class="h-100 d-lg-inline-flex align-items-center d-none">
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
	</header>

    @RenderBody()
    <partial name="_FooterServicePartial" />
                
    <!-- Copyright Start -->
    <div class="container-fluid py-4" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Star Security</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a><br>Distributed By <a class="border-bottom" href="https://themewagon.com/">Themewagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <!-- đổi btn-primary thành btn-dark -->
    <a href="#" class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>



	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/wow/wow.min.js"></script>
	<script src="~/lib/easing/easing.min.js"></script>
	<script src="~/lib/waypoints/waypoints.min.js"></script>
	<script src="~/lib/counterup/counterup.min.js"></script>
	<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="~/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="~/lib/lightbox/js/lightbox.min.js"></script>

	<!-- Template Javascript -->
	<script src="~/js/main.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>



