@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);     
    var currentRoleNames = await userManager.GetRolesAsync(await userManager.FindByIdAsync(currentUserId));
    var currentUser = await userManager.GetUserAsync(User);
    var currentImage = currentUser.Image;

}
    

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Area</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebClient.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a style="color: red" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">STAR SECURITY SERVICES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>                      
                        @if (signInManager.IsSignedIn(User))  //&& User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Administration" asp-action="ListUsers">Manage Users</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Branch" asp-action="Index">Manage Branch</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Manage Category</a>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="CategoryBranch" asp-action="Index">Manage CategoriesBranch</a>  
                                </div>
                            </li>
                                                   
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
                                     @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-area="Admin" asp-controller="Account" asp-action="Profile" asp-route-id="@currentUserId" class="nav-link text-dark">Profile</a>
                                    <form method="post" asp-controller="account" asp-action="logout">
                                        <button class="nav-link text-dark" type="submit">Logout </button>
                                    </form>
                                </div>
                            </li>                            
                        }
                        else
                        {                           
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="account" asp-action="login">Login</a>
                            </li>
                        }
                       
                    </ul>                    

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_NotificationPartial" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>    
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>    <!-- jquery validate se xu ly validate hien ra ngay sau khi type ma ko can submit (with ajax) -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>      
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/admin/assets/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->    
    <link rel="icon" href="~/admin/assets/images/favicon.ico" type="image/x-icon"/>
    <!-- vendor css -->

    <link href="~/admin/assets/css/style.css" rel="stylesheet" />

    <style>
        .img-avatar {
                object-fit: cover;
    max-width: 30px;
    max-height: 30px;
        }
    </style>
</head>
<body class="">
     
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar  ">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ">
                @if(signInManager.IsSignedIn(User)){
                        <div class="">
                            <div class="main-menu-header">
                            <img class="img-radius img-avatar" src="~/media/profiles/@currentImage" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span>@User.Identity.Name</span>

                                <div id="more-details">
                                    @(currentRoleNames.Count > 0 ? currentRoleNames[0] : "[Empty Role]")
                                    
                                    <i class="fa fa-chevron-down m-l-5"></i>
                                </div>

                                    
                                    
                                </div>
                            </div>
                            <div class="collapse" id="nav-user-link">
                                <ul class="list-unstyled">
                                <li class="list-group-item"><a asp-controller="account" asp-action="profile" asp-route-id=@currentUserId><i class="feather icon-user m-r-5"></i>View Profile</a></li>
                                     <form method="post" asp-controller="account" asp-action="logout">
                                        <li class="list-group-item"><button style="background:#2c3e50; color:#d0dcda; border: none;" type="submit"><i class="feather icon-log-out m-r-5"></i>Logout</button></li>
                                    </form>
                                </ul>
                            </div>
                        </div>
                }
                

                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-share-2"></i></span><span class="pcoded-mtext">Branch Management</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Branch" asp-action="Index" asp-area="Admin">List Branches</a></li>                            
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Category Management</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Category" asp-action="Index" asp-area="Admin">List Categories</a></li>
                        </ul>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="CategoryBranch" asp-action="Index" asp-area="Admin">List Categories Branch</a></li>
                        </ul>
                    </li>
                    @if (currentRoleNames.Count > 0)
                    {
                        @if (currentRoleNames[0] != "Employee")
                        {
                            <li class="nav-item pcoded-hasmenu">
                                <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Users Management</span></a>
                                <ul class="pcoded-submenu">
                                    <li><a asp-controller="Administration" asp-action="listusers" asp-area="Admin">List Users</a></li>
                                </ul>
                            </li>
                            <li class="nav-item pcoded-hasmenu">
                                <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user-check"></i></span><span class="pcoded-mtext">Roles Management</span></a>
                                <ul class="pcoded-submenu">
                                    <li><a asp-controller="Administration" asp-action="listroles" asp-area="Admin">List Roles</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>              
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="~/admin/assets/images/logo.png" alt="" class="logo">
                <img src="~/admin/assets/images/logo-icon.png" alt="" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            @if(!signInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav mr-auto">
                    <li><a asp-area="Admin" asp-controller="account" asp-action="login">Login <i class="feather icon-log-in"></i> </a></li>
                </ul>
            }          
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="icon feather icon-bell"></i>
                            <span class="badge badge-pill badge-danger">5</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                    <a href="#!" class="m-r-10">mark as read</a>
                                    <a href="#!">clear all</a>
                                </div>
                            </div>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <ul class="noti-body">
                                    <li class="n-title">
                                        <p class="m-b-0">NEW</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius img-avatar" src="~/media/profiles/@currentImage" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Nguyên</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>5 min</span></p>
                                                <p>StarSecurity meeting at 1:30 PM</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="n-title">
                                        <p class="m-b-0">EARLIER</p>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/admin/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Thạch</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
                                                <p>Prchace New Theme and make payment</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/admin/assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>12 min</span></p>
                                                <p>currently login</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notification">
                                        <div class="media">
                                            <img class="img-radius" src="~/admin/assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                                <p>Prchace New Theme and make payment</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                            <div class="noti-footer">
                                <a href="#!">show all</a>
                            </div>
                        </div>
                    </div>
                </li>
                @if(signInManager.IsSignedIn(User))
                {
                    <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <form method="post" asp-controller="account" asp-action="logout">
                                <div class="pro-head">
                                    <img src="~/media/profiles/@currentImage" class="img-radius img-avatar" alt="User-Profile-Image">
                                    <span>@User.Identity.Name</span>
                                 
                                        <button style="background: #2c3e50; color:#d0dcda;border: none;" type="submit" class="dud-logout" title="Logout">
                                   
                                        <i class="feather icon-log-out"></i>
                                    </button>
                                </div>
                             </form>
                            <ul class="pro-body">
                                    <li><a asp-controller="account" asp-action="Profile" asp-route-id=@currentUserId class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                }                    
            </ul>
        </div>


    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                       <partial name="_BreadCrumb" />
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <partial name="_NotificationPartial" />
                    @RenderBody()   
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    
    <script src="~/admin/assets/js/vendor-all.min.js"></script>
  
    <script src="~/admin/assets/js/plugins/bootstrap.min.js"></script>

    <script src="~/admin/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->    
    <script src="~/admin/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    
    <script src="~/admin/assets/js/pages/dashboard-main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    


</body>

</html>

