@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Project";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Projects</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Projects</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Our Projects</h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <li class="mx-2 active" data-filter="*">All</li>
                        <li class="mx-2" data-filter=".first">Complete Projects</li>
                        <li class="mx-2" data-filter=".second">Ongoing Projects</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container">
                @foreach (var item in Model.Projects)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item @(DateTime.Now.CompareTo(item.DueDate)>0 ?"first":"second") wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-inner">

                        
                                 <img class="img-fluid new-format2 w-100" src="~/media/projects/@item.Image" alt="">
                                <!-- thêm div123 -->
                                <div class="text-center p-4 div123">
                                    <p class="text-primary mb-2">@item.Service.Name</p>
                                    <h5 class="lh-base mb-0">@item.Name</h5>
                                </div>
                                <div class="portfolio-text text-center bg-white p-4">
                                    <p class="text-dark mb-2">@item.Service.Name</p>
                                    <h5 class="lh-base text-dark mb-3">@item.Name</h5>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-square btn-primary rounded-circle mx-1" href="~/media/projects/@item.Image" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-square btn-primary rounded-circle mx-1" asp-area="Client" asp-action="DetailProject" asp-controller="Project" asp-route-serviceSlug="@item.Service.Slug" asp-route-projectSlug="@item.Slug">
                                        <i class="fa fa-info"></i>
                                        </a>
                                    </div>
                                </div>
                      
                       
                        </div>
                    </div>
                  }
             
            </div>
        </div>
    </div>
    <!-- Projects End -->