@model Models.ViewCategoryBranch

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <form asp-action="OnChangeCategoryBranch">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>
                Branch
            </label>

            <select class="form-control" name="BranchId">
                <option value="0">Choose a Branch</option>
                @foreach (var item in Model.Branches)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>
                }
            </select>
        </div>
        <br />
        <div class="form-group">
            <label>
                Categories
            </label>
            <div>
                @foreach (var item in Model.Categories)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="@item.Name" value="@item.Id" name="CategoryId">
                        <label class="custom-control-label" for="@item.Name">
                            @item.Name
                        </label>
                    </div>
                }
            </div>
        </div>

        <br />

        <div class="form-group d-flex justify-content-between">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-dark">Back</a>
        </div>
    </form>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const selectBrandId = $("select[name='BranchId']");

        selectBrandId.on("change", () => {
            const brandId = selectBrandId.val();
            const categoryIdArr = $("input[name='CategoryId']");
            //Reset before Call Ajax
            $.each(categoryIdArr, (index, value) => {
                categoryIdArr[index].checked = false
            });
            // Call Ajax, send Brand Id, waiting response in controller
            $.ajax({
                type: "POST",
                url: "@(Programs.pathRoot + "/admin/CategoryBranch/OnChangeAjaxCategoryBranch")",
                data: {
                    brandId
                },
                success: function(response){
                    // Check If CategoryArr not Empty
                    if (response.length > 0){
                       
                        $.each(response, (index, item) => {

                            // List Category Key index
                            $.each(categoryIdArr, (index, value) => {
                                // If category  - 1 == index, thì checked
                                if(item.categoryId - 1 == index) {

                                    // Checked by Category Selected Before
                                    categoryIdArr[index].checked = true
                                }

                            });
                        });
                    }else {
                        $.each(categoryIdArr, (index, value) => {
                            categoryIdArr[index].checked = false
                        });
                    }
                },
            });
        });
    </script>
}
