@model Models.ViewModel.CategoryVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>           
            <th>Image</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Action</th>       
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Slug</td>
            <td>@item.Image</td>            
            <td>@item.CreatedAt</td>
            <td>@item.UpdatedAt</td>            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>
